$break-small: 320px;
$break-medium: 500px;
$break-large: 1500px;

.title {
  font-weight: 100;
  font-size: 1.5rem;
  font-weight: 400;
  @media screen and (max-width: $break-large) {
    font-size: 1.5rem;
  }
  @media screen and (max-width: $break-medium) {
    font-size: 1.2rem;
  }
  @media screen and (max-width: $break-small) {
    font-size: 1rem;
  } 
}

.Job_info {
  width: 70%;
  @media screen and (max-width: $break-small) {
   width: calc(100% - 20px);
   padding: 0px 10px;
  }
}